@font-face {
  font-family: 'beleren-bold';
  src: url('../fonts/beleren-bold.woff') format('woff'),
       url('../fonts/beleren-bold.woff2') format('woff2'),
       url('../fonts/beleren-bold.ttf')  format('truetype')
}

$dark-gray: #333333;

body{
  background: url('../images/gray-patterned-bg.jpg');
  margin: 0;
  font-family: 'beleren-bold', Georgia, serif;
  color: #ffffff;
}

h1{
  font-size: 60px;
  margin-bottom: 20px;
}

.App {
  text-align: center;
  padding: 30px 0 30px 0;
  // background: url('../images/mountain-piotr-dura.jpg'); // Future: can parameterize this by using a Scryfall query and using the art-only option.
  background-size: 100% auto;
  min-height: 2000px; // Need more elegant solution here.
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Modal: */

.modal-overlay {
  position: fixed;
  z-index: 200;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  color: $dark-gray;
  background: white;
  padding: 20px;
  border-radius: 8px;
  position: relative;
  max-width: 40%;
}

button {
  background: #787878;
  border-radius: 10px;
  cursor: pointer;
  display: block;
  margin: 5px auto 5px auto;
  min-width: 80px;
  min-height: 50px;
  font-size: 16px;
  font-weight: bold;
  color: #efefef;
  // Testing removing focus here, because when you advance a turn and it turns to "next" or "finish", it will remain in the active state even if you blur / mouse off.
  &:hover, &:active{
    background: $dark-gray;
  }
  &:disabled{
    background-color: #cccccc;
    color: #ffffff;
    cursor: not-allowed;
    &:hover, &:active{
      background-color: #cccccc;
    }
  }
}

.modal-content {
  margin-top: 20px;
  white-space: pre-wrap; // Needed for AI-generated summary.
}

.map-header-name{
  font-size: 40px;
  text-shadow: 0px 0px 20px #333333;
}

.hex-grid {
  position: relative;
  display: block;
  .hex-grid-inner{
    position: relative;
    display: block;
    margin: 0 auto 0 auto;
    min-height: 1500px;
    svg {
      position: absolute;
      background-repeat: no-repeat;
      background-position-x: center;
      background-position-y: center;
    }
    .hex-commander-name-display {
      display: block;
      position: absolute;
      color: #ffffff;
      max-width: 100px;
      z-index: 100
    }
  }
}

/* Future: enemy bases will have their MtG color(s) as props, and will get an appropriate (multi)colored background like this: https://blog.prototypr.io/css-only-multi-color-backgrounds-4d96a5569a20 */
.EnemyBase {
  position: absolute;
  z-index: 100;
  color: $dark-gray;
  background-color: rgba(255,255,255,.85);
  border-radius: 15px;
  display: block;
  width: 550px;
  transition: min-height 1s linear;
  padding: 5px; // lowering this to handle the new curved-border, with the gradient color.
  border: 5px solid transparent;
  box-shadow: #dddddd 10px 10px 10px;
  &.card-display{
    // todo: have this fade in, and work well with the height transition.
  }
  &:hover, &:focus, &:active{
    &:not(.defeated) {
      // Note: background color gradient is a parameter passed into the EnemyBase as a prop. It is added as an inline style.
      background-origin: border-box;
      background-clip: content-box, border-box;
      // box-shadow: #cccccc 10px 10px 10px;
    }
  }
  &.turn-underway{
    min-height: 800px;
  }
  &.defeated {
    min-height: unset;
    h3 {
      text-decoration: line-through;
    }
  }
}

.commander-selection-image {
  border-radius: 15px;
  cursor: pointer;
  max-width: 200px;
  max-height: 200px;
  border: 1px solid transparent;
  &:hover, &:active, &:focus {
    border: 1px solid #ffffff;
  }
}

.commander-selection-input {
  border: 1px solid transparent;
  &.validated{
    border: 1px solid green;
  }
}

.commanders-at-this-location {

  .commander-display, .move-commander-here-button {
    margin: 10px;
    border-radius: 15px;
    background: #ffffff;
    color: #000000;
    width: auto;
    display: inline-block;
    vertical-align: top;
    // Width / height are derived from the "small" image size of Scryfall.
    width: 146px;
    min-height: 204px;
  }

  .commander-display{
    p {
      margin: 5px 0 5px 0;
    }
  }

  .move-commander-here-button {
    border: 2px dashed #cccccc;
    &:hover {
      background: #eeeeee;
      border-color: #666666;
    }
  }

}

